.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  &Link {
    border: solid black;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: 250ms background-color ease;
  }
}

h3 {
  border: solid;
  padding: 4px 8px;
  width: 250px;
  margin: 20px;
}

h5 {
  margin: 20px;
}

.chapitre {
  margin: 20px;
}
